<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="admin/adminController :: header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body-align-with-table">
<table class= "table-group" border="1">
    <tr>
        <th>번호</th>
        <th>그룹명</th>
        <th>비고</th>
    </tr>
    <tr th:each="admin:${groupList}">
        <td><p th:text="${admin.getGrpiDx()}"/></td>
        <td><a th:href="@{adminRegister_group_edit(id=${admin.getGrpiDx()})}"><p th:text="${admin.getGrpName()}"/></a></td>
        <td th:text="${admin.getGrpMemo()}"></td>
    </tr>
</table>
<!--<a href = "/adminRegister_group"> 그룹 등록 </a>-->
<button class = "admin-register-button" type="button" onclick="location.href='adminRegister_group'"> 그룹 등록 </button>
</div>
</body>
</html>