<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이트로</title>
    <head th:replace="admin/adminController :: header">    <title>Title</title>
    </head>
<body>
<script>
    function check_id_pw() {
        if(regi_form_edit.ClID.value == "") {
            alert("ID를 입력해주세요.");
            regi_form_edit.ClID.focus();
            return false;
        }
        else if(regi_form_edit.ClPW.value == "") {
            alert("비밀번호를 입력해 주세요.");
            regi_form_edit.ClPW.focus();
            return false;
        }
        else return true;
    }
</script>

<h2 class="register-title"><관리자 수정하기></h2>
<div style="text-align: center">
<form class="register-form" name="regi_form_edit" onsubmit="return check_id_pw()" action = "adminRegister_edit" method = "POST" th:object="${memberForm}" border="1">
    <table class="register-table" >
<!--        <tr th:if="${#fields.hasErrors('ClID')}">-->
<!--            <p class="register-alert" th:if="${#fields.hasErrors('ClID')}" th:errors="*{ClID}"></p><br>-->
<!--        </tr>-->

<!--        <tr th:if="${#fields.hasErrors('ClPW')}">-->
<!--            <p class="register-alert" th:if="${#fields.hasErrors('ClPW')}" th:errors="*{ClPW}"></p><br>-->
<!--        </tr>-->

        <tr th:if="${alert_password_not_match}">
            <p class="register-alert" th:utext="${alert_password_not_match}"></p>
        </tr>

        <tr th:if="${exist_id}">
            <p class="register-alert" th:utext="${exist_id}"></p>
        </tr>

            <input type="hidden" th:field="*{CliDx}">
        <tr>
            <th>아이디</th><td><input class="register-td" style="width: 100%" type="text" th:field="*{ClID}" placeholder="아이디"></td>
        </tr>
        <tr>
            <th>패스워드</th><td><input class="register-td" style="width: 100%"type="text" th:field="*{ClPW}" placeholder="패스워드"></td>
        </tr>
        <tr>
            <th>할인처</th><td><input class="register-td" style="width: 100%"type="text" th:field="*{ClName}" placeholder="할인처"></td>
        </tr>
        <tr>
            <th>담당자</th><td><input class="register-td" style="width: 100%"type="text" th:field="*{ClUser}"placeholder="담당자"></td>
        </tr>
        <tr >
            <th>연락처</th><td><input class="register-td" style="width: 100%"type="text" th:field="*{ClTel}" placeholder="연락처"></td>
        </tr>
        <tr>
            <th>메일</th><td><input class="register-td" style="width: 100%"type="text" th:field="*{ClEmail}" placeholder="메일"></td>
        </tr>
        <tr>
            <th>할인1</th><td><input class="register-td" type="text" th:field="*{ClDCName1}" placeholder="할인명">시간<input class="register-dc2" type="text" th:field="*{ClDCTime1}" >분<input class="register-dc2" type="text" th:field="*{ClDCRate1}" >%</td>
            <input type="hidden" th:field="*{ClDCCount1}">
        </tr>
        <tr >
            <th>할인2</th><td><input class="register-td" type="text" th:field="*{ClDCName2}"  placeholder="할인명">시간<input class="register-dc2" type="text" th:field="*{ClDCTime2}">분<input class="register-dc2" type="text" th:field="*{ClDCRate2}">%</td>
            <input type="hidden" th:field="*{ClDCCount2}">
        </tr>
        <tr >
            <th>할인3</th><td><input class="register-td" type="text" th:field="*{ClDCName3}"  placeholder="할인명">시간<input class="register-dc2" type="text" th:field="*{ClDCTime3}">분<input class="register-dc2" type="text" th:field="*{ClDCRate3}">%</td>
            <input type="hidden" th:field="*{ClDCCount3}">
        </tr>
        <tr>
            <th>할인4</th><td><input class="register-td" type="text" th:field="*{ClDCName4}"  placeholder="할인명">시간<input class="register-dc2" type="text" th:field="*{ClDCTime4}">분<input class="register-dc2" type="text" th:field="*{ClDCRate4}">%</td>
            <input type="hidden" th:field="*{ClDCCount4}">
        </tr>
        <tr>
            <th>할인5</th><td><input class="register-td" type="text" th:field="*{ClDCName5}"  placeholder="할인명">시간<input class="register-dc2" type="text" th:field="*{ClDCTime5}" >분<input class="register-dc2" type="text" th:field="*{ClDCRate5}">%</td>
            <input type="hidden" th:field="*{ClDCCount5}">
        </tr>
        <tr>
            <th>할인6</th><td><input class="register-td" type="text" th:field="*{ClDCName6}"  placeholder="할인명">시간<input class="register-dc2" type="text" th:field="*{ClDCTime6}">분<input class="register-dc2" type="text" th:field="*{ClDCRate6}">%</td>
            <input type="hidden" th:field="*{ClDCCount6}">
        </tr>
        <tr>
            <th>비고</th><td><input class="register-td" type="text" style="width: 100%"th:field="*{ClMemo}"  placeholder="메모"></td>
        </tr>
        <tr>
            <th>사용유무</th>
            <td><select class="register-td" style="width: 100%"th:field="*{ClDCUse}">
                <option class="register-td" style="width: 100%"th:value="1">사용</option>
                <option class="register-td" style="width: 100%"th:value="0">미사용</option>
            </select></td>
        </tr>
        <tr>
            <th>그룹</th>
            <td><select class="register-td" th:field="*{ClGrpiDx}"style="width: 100%" >
                <option class="register-td" th:each="group:${groupList}"
                        th:value="${group.getGrpiDx()}" th:utext="${group.getGrpName()}"style="width: 100%"></option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="register-button" type="submit" value="수정"><input class="register-button" type="button" onclick="location.href='adminManaging';" value="취소"></td>
        </tr>
        </div>
    </table>
</form>

</body>
</html>
