<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="admin/adminController :: header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 class="register-title"><그룹 등록하기></h2>
<form class="register-form" action="adminRegister_group" method="post" th:object="${adminForm}">
<table class="register-table">

    <tr th:if="${#fields.hasErrors('GrpName')}">
        <p class="register-alert" th:if="${#fields.hasErrors('GrpName')}" th:errors="*{GrpName}"></p><br>
    </tr>

    <tr th:if="${alertExistName}">
        <p class="register-alert" th:if="${alertExistName}" th:utext="${alertExistName}"></p><br>
    </tr>


    <tr>
        <th>그룹명</th><td><input class="register-td" type="text" th:field="*{GrpName}" placeholder="그룹명"></td>
    </tr>
    <tr>
        <th>비고</th><td><input class="register-td" type="text" th:field="*{GrpMemo}" placeholder="메모"></td>
    </tr>
    <tr>
        <td><input class="register-button" type="submit" value="입력"></td>
    </tr>
</table>
</form>

</body>
</html>