<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>: :근로복지공단대구병원: :</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Tony Lee" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/nomalize.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/adminRegSearch.css" />
    <link rel="stylesheet" href="/css/adminManaging.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>
    <header>
        <div class="inner">
            <div class="head-container">
                <div class="head-brand"></div>
                <div class="head-blog"><a href="logout">로그아웃</a></div>
            </div>
            <div class="mode"><관리자모드></div>
        </div>
    </header>
    <section>
        <ul class = "title-container">
            <div class="maintitle1"><li class="title-mark"><a href = "adminRegSearch">할인 차량 조회</a></li></div>
            <div class="maintitle2"><li class="title-mark"><a href = "adminManaging">할인 부서 조회 및 등록</a></li></div>
            <div class="maintitle3"> <li class="title-mark"><a href = "adminGroupManaging">그룹 관리 및 등록</a></li></div>
        </ul>
    </section>

</div>
<body>








</body>
</html>