<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="admin/adminController :: header">
    <meta charset="UTF-8">
    <title>: :근로복지공단대구병원: :</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
    <script th:inline="javascript">

        $( function() {
            $( "#startDate" ).datepicker({ closeText: '닫기',
                prevText: '이전달',
                nextText: '다음달',
                currentText: '오늘',
                monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                    '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
                monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                    '7월','8월','9월','10월','11월','12월'],
                dayNames: ['일','월','화','수','목','금','토'],
                dayNamesShort: ['일','월','화','수','목','금','토'],
                dayNamesMin: ['일','월','화','수','목','금','토'],
                weekHeader: 'Wk',
                dateFormat: 'yy-mm-dd'});
            var startDate = [[${startDate}]]
            if(startDate==null){
                startDate = "-30D";
            }
            $('#startDate').datepicker('setDate', startDate);
        });

        $( function() {
            $( "#endDate" ).datepicker({ closeText: '닫기',
                prevText: '이전달',
                nextText: '다음달',
                currentText: '오늘',
                monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                    '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
                monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                    '7월','8월','9월','10월','11월','12월'],
                dayNames: ['일','월','화','수','목','금','토'],
                dayNamesShort: ['일','월','화','수','목','금','토'],
                dayNamesMin: ['일','월','화','수','목','금','토'],
                weekHeader: 'Wk',
                dateFormat: 'yy-mm-dd',
            });
            var endDate = [[${endDate}]]
            if(endDate==null){
                endDate = "today";
            }
            $('#endDate').datepicker('setDate', endDate);
        } );

    </script>
<body>

<div class ="body-align-with-table">

<form class="reg_form_location" action="adminRegSearch" method="post">
    <input type="button" value="날짜:">
    <input class="reg_date" type="text" name="startDate" id="startDate">
    <input class="reg_date" type="text" name="endDate" id="endDate">
    <input class="reg_input" placeholder="차량번호입력" type="text" name = "carNumber" th:if="${carNumber}" th:value="${carNumber}">
    <input class="reg_input" placeholder="차량번호입력" type="text" name = "carNumber" th:unless="${carNumber}" value="">

    <input class="reg_dc_button" type="button" value="할인처:">
    <select name ="clName">
        <option th:if="${return_clName}" th:value="${return_clName}" th:utext="${return_clName}"></option>
        <option th:each = "clname:${clNames}"
                th:if="${return_clName}!=${clname.getClName()}" th:value="${clname.getClName()}" th:utext="${clname.getClName()}"></option>
    </select>
    <input id="reg_submit" type="submit" name="action" value="검색">
    <input class="reg_excel_down" type="submit" name="action" value="액셀">
    <input class="reg_print" type="button" value="인쇄" id="print" onclick="window.print()"/>
</form>
<Table class="table">
    <tr>
        <th>번호</th>
        <th>차량번호</th>
        <th>할인명</th>
        <th>할인처</th>
        <th>시간할인</th>
        <th>할인률</th>
        <th>비고</th>
        <th>등록일시</th>
        <th>사용</th>
    </tr>
    <tr th:if="${discountedCarInfo}" th:each="car: ${discountedCarInfo}">
        <td th:text="${car.getDCiDx()}" ></td>
        <td th:text="${car.getCarNumber()}" ></td>
        <td th:text="${car.getDCName()}" ></td>
        <td th:text="${car.getClName()}" ></td>
        <td th:text="${car.getDCTime()}+'분'" ></td>
        <td th:text="${car.getDCRate()}+'%'" ></td>
        <td th:text="${car.getDCMemo()}"></td>
        <td th:text="${car.getInsDayTime()}" ></td>
        <td th:if="${car.getUseDiv()} =='0'" th:text="미사용"></td>
        <td th:if="${car.getUseDiv()} =='1'" th:text="사용"></td>
    </tr>
</Table>
</div>


</body>
</html>
