<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이트로</title>
    <head th:replace="admin/adminController :: header">    <title>Title</title>
    </head>
<body>

<h2 class="register-title"><관리자 수정하기></h2>
<form class="register-form" action = "adminRegister_edit" method = "POST" th:object="${memberForm}" border="1">
    <table class="register-table" >

        <tr th:if="${#fields.hasErrors('ClID')}">
            <td class="register-alert" th:if="${#fields.hasErrors('ClID')}" th:errors="*{ClID}"></td><br>
        </tr>

        <tr th:if="${#fields.hasErrors('ClPW')}">
            <td class="register-alert" th:if="${#fields.hasErrors('ClPW')}" th:errors="*{ClPW}"></td><br>
        </tr>

        <tr th:if="${alert_password_not_match}">
            <td class="register-alert" th:utext="${alert_password_not_match}"></td>
        </tr>

            <input type="hidden" th:field="*{CliDx}">
<!--        수정 시 아이디는 readonly로 설정하였다. -->
            <td>아이디<input class="register-td" type="text" th:field="*{ClID}" readonly></td>
            <td>패스워드<input class="register-td" type="password" th:field="*{ClPW}" placeholder="패스워드"></td>
        </tr>
        <tr>
            <td>할인처<input class="register-td" type="text" th:field="*{ClName}" placeholder="할인처"></td>
            <td>담당자<input class="register-td" type="text" th:field="*{ClUser}"placeholder="담당자"></td>
        </tr>
        <tr >
            <td>연락처<input class="register-td" type="text" th:field="*{ClTel}" placeholder="연락처"></td>
            <td>메일<input class="register-td" type="text" th:field="*{ClEmail}" placeholder="메일"></td>
        </tr>
        <tr >
            <td>할인1<input class="register-td" type="text" th:field="*{ClDCName1}" placeholder="할인명">시간</td><td><input class="register-dc" type="text" th:field="*{ClDCTime1}">분</td><td><input class="register-dc" type="text" th:field="*{ClDCRate1}">%</td>
            <input type="hidden" th:field="*{ClDCCount1}">
        </tr>
        <tr >
            <td>할인2<input class="register-td" type="text" th:field="*{ClDCName2}">시간</td><td><input class="register-dc" type="text" th:field="*{ClDCTime2}">분</td><td><input class="register-dc" type="text" th:field="*{ClDCRate2}">%</td>
            <input type="hidden" th:field="*{ClDCCount2}">
        </tr>
        <tr >
            <td>할인3<input class="register-td" type="text" th:field="*{ClDCName3}">시간</td><td><input class="register-dc" type="text" th:field="*{ClDCTime3}">분</td><td><input class="register-dc" type="text" th:field="*{ClDCRate3}">%</td>
            <input type="hidden" th:field="*{ClDCCount3}">
        </tr>
        <tr>
            <td>할인4<input class="register-td" type="text" th:field="*{ClDCName4}">시간</td><td><input class="register-dc" type="text" th:field="*{ClDCTime4}">분</td><td><input class="register-dc" type="text" th:field="*{ClDCRate4}">%</td>
            <input type="hidden" th:field="*{ClDCCount4}">
        </tr>
        <tr>
            <td>할인5<input class="register-td" type="text" th:field="*{ClDCName5}">시간</td><td><input class="register-dc" type="text" th:field="*{ClDCTime5}" >분</td><td><input class="register-dc" type="text" th:field="*{ClDCRate5}">%</td>
            <input type="hidden" th:field="*{ClDCCount5}">
        </tr>
        <tr>
            <td>할인6<input class="register-td" type="text" th:field="*{ClDCName6}">시간</td><td><input class="register-dc" type="text" th:field="*{ClDCTime6}">분</td><td><input class="register-dc" type="text" th:field="*{ClDCRate6}">%</td>
            <input type="hidden" th:field="*{ClDCCount6}">
        </tr>
        <tr>
            <td>비고<input class="register-td" type="text" th:field="*{ClMemo}"></td>
        </tr>
        <tr>
            <td>사용유무
                <select class="register-td" th:field="*{ClDCUse}">
                    <option class="register-td" th:value="1">사용</option>
                    <option class="register-td" th:value="0">미사용</option>
                </select>
            </td>
            <td>그룹
                <select class="register-td" th:field="*{ClGrpiDx}" >
                    <option class="register-td" th:each="group:${groupList}"
                            th:value="${group.getGrpiDx()}" th:utext="${group.getGrpName()}"></option>
                </select>
        </tr>
        <tr>
            <td align="center"><input class="register-button" type="submit" value="수정"></td>
        </tr>
    </table>
</form>

</body>
</html>
