spring:
  datasource:
    url: jdbc:mariadb://itro.ddns.net:43306/webimgsvr
    username: webdc
    password: itro
    driver-class-name: org.mariadb.jdbc.Driver
spring.thymeleaf.cache: false
spring.devtools.remote.restart.enabled: false


mybatis:
  type-aliases-package: hospital_parking_system.hospital_parking.mapper
  mapper-locations: mybatis/mapper/**/*.xml
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    uri-encoding: UTF-8
