<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hospital_parking_system.hospital_parking.adminPage.AdminMapper">

    <select id="selectAdminManager"  resultType="hospital_parking_system.hospital_parking.adminPage.AdminManagerBean">
        select *
        from parking_class
                 inner join parking_class_group on parking_class.ClGrpiDx = parking_class_group.GrpiDx
        order by CliDx;

    </select>

    <select id="selectGroupList" resultType="hospital_parking_system.hospital_parking.adminPage.GroupBean">
        SELECT *
        FROM parking_class_group;
    </select>

    <select id="selectOneGroup" parameterType="hospital_parking_system.hospital_parking.adminPage.GroupBean" resultType="hospital_parking_system.hospital_parking.adminPage.GroupBean">
        SELECT *
        FROM parking_class_group
        WHERE GrpiDx = #{GrpiDx};
    </select>

    <select id="selectOneGroupFromName" parameterType="hospital_parking_system.hospital_parking.adminPage.GroupBean" resultType="hospital_parking_system.hospital_parking.adminPage.GroupBean">
        SELECT *
        FROM parking_class_group
        WHERE GrpName = #{GrpName};
    </select>



    <delete id="deleteOneGroup" parameterType="hospital_parking_system.hospital_parking.adminPage.GroupBean">
        DELETE
        FROM parking_class_group
        WHERE GrpiDx = #{GrpiDx};
    </delete>

    <select id="Procedure_registerManager" statementType="CALLABLE" parameterType="hospital_parking_system.hospital_parking.member.MemberBean">
        { CALL sp_parking_class(
                #{CliDx},
                #{ClID},
                #{ClPW},
                #{ClName},
                #{ClUser},
                #{ClTel},
                #{ClEmail},
                #{ClDCName1},
                #{ClDCCount1},
                #{ClDCTime1},
                #{ClDCRate1},
                #{ClDCName2},
                #{ClDCCount2},
                #{ClDCTime2},
                #{ClDCRate2},
                #{ClDCName3},
                #{ClDCCount3},
                #{ClDCTime3},
                #{ClDCRate3},
                #{ClDCName4},
                #{ClDCTime4},
                #{ClDCCount4},
                #{ClDCRate4},
                #{ClDCName5},
                #{ClDCCount5},
                #{ClDCTime5},
                #{ClDCRate5},
                #{ClDCName6},
                #{ClDCCount6},
                #{ClDCTime6},
                #{ClDCRate6},
                #{ClDCUse},
                #{ClGrpiDx},
                #{ClMemo},
                #{Result, mode=OUT, jdbcType=INTEGER, javaType=int})
            }
    </select>

    <select id="selectOneParking_class" parameterType="hospital_parking_system.hospital_parking.member.MemberBean" resultType="hospital_parking_system.hospital_parking.member.MemberBean">
        SELECT *
        FROM parking_class
        WHERE CliDx = #{CliDx};
    </select>


    <delete id="deleteOneManager" parameterType="hospital_parking_system.hospital_parking.member.MemberBean">
        delete
        from parking_class
        where CliDx = #{CliDx};

    </delete>

    <insert id="insertGroup" parameterType="hospital_parking_system.hospital_parking.adminPage.GroupBean">
        INSERT INTO parking_class_group (GrpiDx, GrpName, GrpMemo)
        VALUES (#{GrpiDx}, #{GrpName}, #{GrpMemo});
    </insert>

    <update id="updateGroup" parameterType="hospital_parking_system.hospital_parking.adminPage.GroupBean">
        UPDATE parking_class_group SET GrpName=#{GrpName}, GrpMemo=#{GrpMemo}
        WHERE GrpiDx = #{GrpiDx};
    </update>

</mapper>

        <!--    <update id="updateMember" parameterType="hospital_parking_system.hospital_parking.member.MemberBean">-->
        <!--        UPDATE parking_class-->
        <!--        SET ClID=#{ClID},-->
        <!--            ClPW=#{ClPW},-->
        <!--            ClName=#{ClName},-->
        <!--            ClUser=#{ClUser},-->
        <!--            ClTel=#{ClTel},-->
        <!--            ClEmail=#{ClEmail},-->
        <!--            ClDCName1=#{ClDCName1},-->
        <!--            ClDCTime1=#{ClDCTime1},-->
        <!--            ClDCRate1=#{ClDCRate1},-->
        <!--            ClDCName2=#{ClDCName2},-->
        <!--            ClDCTime2=#{ClDCTime2},-->
        <!--            ClDCRate2=#{ClDCRate2},-->
        <!--            ClDCName3=#{ClDCName3},-->
        <!--            ClDCTime3=#{ClDCTime3},-->
        <!--            ClDCRate3=#{ClDCRate3},-->
        <!--            ClDCName4=#{ClDCName4},-->
        <!--            ClDCTime4=#{ClDCTime4},-->
        <!--            ClDCRate4=#{ClDCRate4},-->
        <!--            ClDCName5=#{ClDCName5},-->
        <!--            ClDCTime5=#{ClDCTime5},-->
        <!--            ClDCRate5=#{ClDCRate5},-->
        <!--            ClDCName6=#{ClDCName6},-->
        <!--            ClDCTime6=#{ClDCTime6},-->
        <!--            ClDCRate6=#{ClDCRate6},-->
        <!--            ClDCUse=#{ClDCUse},-->
        <!--            ClMemo=#{ClMemo},-->
        <!--            ClGrpiDx=#{ClGrpiDx}-->
        <!--        where CliDx = #{CliDx};-->

        <!--    </update>-->
        <!--    <insert id="insertMember" parameterType="hospital_parking_system.hospital_parking.member.MemberBean">-->
        <!--        INSERT INTO parking_class (ClID, ClPW, ClName, ClUser, ClTel, ClEmail, ClDCName1, ClDCTime1, ClDCRate1,-->
        <!--                                   ClDCName2, ClDCTime2, ClDCRate2, ClDCName3, ClDCTime3, ClDCRate3, ClDCName4,-->
        <!--                                   ClDCTime4, ClDCRate4, ClDCName5, ClDCTime5, ClDCRate5, ClDCName6, ClDCTime6,-->
        <!--                                   ClDCRate6, ClDCUse, ClMemo, ClGrpiDx)-->
        <!--        VALUES (#{ClID}, #{ClPW}, #{ClName}, #{ClUser}, #{ClTel}, #{ClEmail}, #{ClDCName1}, #{ClDCTime1}, #{ClDCRate1},-->
        <!--                #{ClDCName2}, #{ClDCTime2}, #{ClDCRate2}, #{ClDCName3}, #{ClDCTime3}, #{ClDCRate3}, #{ClDCName4},-->
        <!--                #{ClDCTime4}, #{ClDCRate4}, #{ClDCName5}, #{ClDCTime5}, #{ClDCRate5}, #{ClDCName6}, #{ClDCTime6},-->
        <!--                #{ClDCRate6}, #{ClDCUse}, #{ClMemo}, #{ClGrpiDx});-->
        <!--    </insert>-->