<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hospital_parking_system.hospital_parking.member.MemberMapper">

    <select id="loginAdmin" parameterType="hospital_parking_system.hospital_parking.member.AdminBean" resultType="hospital_parking_system.hospital_parking.member.AdminBean">
        SELECT * FROM parking_class_admin WHERE AdmID = #{AdmID} and AdmPW = #{AdmPW}
    </select>

    <select id="loginMember" parameterType="hospital_parking_system.hospital_parking.member.MemberBean" resultType="hospital_parking_system.hospital_parking.member.MemberBean">
        SELECT * FROM parking_class WHERE ClID = #{ClID} and ClPW = #{ClPW}
    </select>

    <select id="checkMemberId" parameterType="hospital_parking_system.hospital_parking.member.MemberBean" resultType="hospital_parking_system.hospital_parking.member.MemberBean">
        SELECT * FROM parking_class WHERE ClID = #{ClID}
    </select>


    <delete id="deleteMember" parameterType="String">
            DELETE FROM parking_class WHERE ClID = #{ClId}
    </delete>

    <insert id="insertMember" parameterType="hospital_parking_system.hospital_parking.member.MemberBean">
        INSERT INTO parking_class (ClId, ClPW) VALUES(#{ClID}, #{ClPW});
    </insert>

<!--    차량 번호 조회하기  -->
    <select id="selectCarNum" parameterType="hospital_parking_system.hospital_parking.member.MemberBean" resultType="hospital_parking_system.hospital_parking.member.MemberBean">
        SELECT * FROM parking_entvhl_list WHERE VhlNbr like CONCAT('%', #{VhlNbr}, '%')
    </select>


</mapper>

