<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>: :근로복지공단대구병원: :</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Tony Lee" />
<!--        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/nomalize.css" />
        <link rel="stylesheet" href="/css/admin.css" />
        <link rel="stylesheet" href="/css/adminRegSearch.css" />
        <link rel="stylesheet" href="/css/adminManaging.css" />
        <link rel="stylesheet" href="/css/mainButtonPage.css" />
        <link rel="stylesheet" href="/css/member.css" />



    </head>
    <body>
    <script th:inline="javascript">
        let check_login = [[${alert}]];
        console.log(check_login);

        if(check_login!=null){
            alert(check_login);
        }
    </script>

    <header>
        <nav class="inner_m">
            <div class="head-container_m">
               <div class="head-home_m"><button class="button_info" onclick="location.href='searchCarInfo'"><img class="home_img" src="img/home_icon.png"></button></div>
                <div class="head-brand_m"><img class="brand_img" src="img/ITRO_top_back.png"></div>
                <div class="head-info_m"><button class="button_info" onclick="drop_info()"><img class="home_menu" src="img/menu_icon.png"></button>
                                         <div style="display:none;" id="drop-content">
                                             <a href="#"><img class="list_image" src="img/chart_01.png" style="width: auto; height: 20px; float: left;">사용내역</a>
                                             <a href="/m_userInfo_checking"><img class="list_image" src="img/user_01.png" style="width: auto; height: 20px; float: left;">정보수정</a>
                                             <a href="/m_dc_info"><img class="list_image" src="img/dc_info.png" style="width: auto; height: 20px; float: left;">할인정보</a>
                                             <a href="/logout"><img class="list_image" src="img/logout_01.png" style="width: auto; height: 20px; float: left;">로그아웃</a>
                                         </div>
                </div>

            </div>
        </nav>
    </header>

<script>
    function drop_info(){
        let click = document.getElementById("drop-content");
        if(click.style.display === "none"){
            click.style.display = "block";

        }else{
            click.style.display = "none";
        }
    }
</script>
</body>
</div>
</html>