<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>: :근로복지공단대구병원: :</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Tony Lee" />
<!--        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/nomalize.css" />
        <link rel="stylesheet" href="/css/admin.css" />
        <link rel="stylesheet" href="/css/adminRegSearch.css" />
        <link rel="stylesheet" href="/css/adminManaging.css" />
        <link rel="stylesheet" href="/css/mainButtonPage.css" />
        <link rel="stylesheet" href="/css/member.css" />


    </head>
    <body>
    <header>
        <nav class="inner_m">
            <div class="head-container_m">
               <div class="head-home_m"><a href="/searchCarInfo"><img class="home_img" src="img/home.png"></a></div>
                <div class="head-brand_m"></div>
                <div class="head-info_m"><button class="button" onclick="drop_info()"><img class="home_menu" src="img/menu.png"></button>
                                         <div style="display:none;" id="drop-content">
                                             <a href="#">사용내역</a>
                                             <a href="/logout">로그아웃</a>
                                         </div>
                </div>

            </div>
        </nav>
    </header>

<script>
    function drop_info(){
        let click = document.getElementById("drop-content");
        if(click.style.display === "none"){
            click.style.display = "block";

        }else{
            click.style.display = "none";
        }
    }
</script>
</body>
</div>
</html>