<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="member/m_memberController :: header">
    <meta charset="UTF-8">
    <title>: :근로복지공단대구병원: </title>
</head>
<script src="app.js"></script>
<body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--글자 폰트 조절하기 -->

    <div class = "magnifying">
        <button class="magnifying_button"><a href = "/searchCarInfo" class="magnifying_font">처음으로</a></button>
    </div>
    <div style="text-align: center">
        <table class="table-main-Button" style="width: 100%">
            <tr th:if="${carBeans}" th:each="car : ${carBeans}">
                <td><img th:src="${car.getImgPth()}" onerror="this.src='img/car_Number.png';" style="width: 100%; height: 150px;"></td>
                <td style="text-align: center; font-size: xx-large; font-weight: bold; background-color: whitesmoke"><a class = "main_car_list" th:href="@{getCarInfo_m(carNumber=${car.VhlNbr}, carNumber2=${carNumber})}">[[${car.VhlNbr}]]</a></td>
            </tr>
        </table>
    </div>

<!--</section>-->
</body>
</html>
