<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="member/m_memberController :: header">
    <meta charset="UTF-8">
    <title>: :근로복지공단대구병원: </title>
</head>
<script src="app.js"></script>
<body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--글자 폰트 조절하기 -->
<script th:inline="javascript">
    let text_length = [[${text_length}]]
    let text_length_button2 = [[${text_length_button2}]]

    if(text_length_button2 != null){
        document.addEventListener("DOMContentLoaded", function() {
            let list = document.getElementsByClassName("dc_button2");
            for (let i = 0; i < list.length; ++i) {
                if(text_length_button2<=15){
                    list[i].style.fontSize = "26px";
                }else if(text_length_button2<=25){
                    list[i].style.fontSize = "20px";
                }else{
                    list[i].style.fontSize = "16px";
                }
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        init();
        let list = document.getElementsByClassName("dc_button2");

        for (let i = 0; i < list.length; ++i) {
            if (text_length <= 15) {
                list[i].style.fontSize = "26px";
            } else if (text_length <= 25) {
                list[i].style.fontSize = "20px";
            } else {
                list[i].style.fontSize = "16px";
            }
        }
    });
</script>

<!--검색된 번호 중 하나를 선택하였을 시 나오는 정보-->
<!--<section class="main-section">-->
<div class="magnifying">
    <button class="magnifying_button"><a href = "/searchCarInfo" class="magnifying_font">처음으로</a></button>
</div>
<table class="main_table_with_button_m">
    <tr>
        <th>할 인 처</th>
<!--        <td><input id="dc_store" type="text" th:value="${member_ClName}" readonly></td>-->
        <td>[[${member_ClName}]]</td>
    </tr>
    <tr>
        <th>차량번호</th>
        <td>[[${carInfo.getVhlNbr()}]]</td>
    </tr>
    <tr>
        <th>입차일시</th>
        <td>[[${formatDateShow}]]</td>
    </tr>
    <tr>
        <th>주차시간</th>
        <td>[[${carEnt}]]</td>
    </tr>
</table>

<form name="dcForm" onsubmit="return confirm('할인권을 등록하시겠습니까?');" action="registerDiscountTime" method="POST">
    <table class="dc_form_m">
        <div>
            <input th:if="${carInfo}" type="hidden" th:value="${carInfo.getVHIdx()}" name="idx"/>
            <input th:if="${carInfo}" type="hidden" th:value="${carInfo.getVhlNbr()}" name="carNumber"/>
            <input type="hidden" th:value="${carNumber}" name="searchCarNumber">

            <tr>
                <td><input class="dc_button2" type="submit" th:if="${member.getClDCName1()}!=''" th:name="discountTime"
                           th:value="${member.getClDCName1()}" readonly></td>
                <td><input width="100%" class="dc_button2" type="submit" th:if="${member.getClDCName2()}!=''" th:name="discountTime"
                           th:value="${member.getClDCName2()}" readonly></td>
            </tr>

            <tr>
                <td><input class="dc_button2" type="submit" th:if="${member.getClDCName3()}!=''" th:name="discountTime"
                           th:value="${member.getClDCName3()}" readonly></td>
                <td><input class="dc_button2" type="submit" th:if="${member.getClDCName4()}!=''" th:name="discountTime"
                           th:value="${member.getClDCName4()}" readonly></td>
            </tr>

            <tr>
                <td><input class="dc_button2" type="submit" th:if="${member.getClDCName5()}!=''" th:name="discountTime"
                           th:value="${member.getClDCName5()}" readonly></td>
                <td><input class="dc_button2" type="submit" th:if="${member.getClDCName6()}!=''" th:name="discountTime"
                           th:value="${member.getClDCName6()}" readonly></td>
            </tr>
        </div>
    </table>
</form>


<script th:inline="javascript">

    let dc_result = [[${dcResult}]];
    if (dc_result == 1) {
        alert("할인등록이 되었습니다.");
    } else if (dc_result == 2) {
        alert("할인등록이 수정되었습니다.")
    } else {

    }
</script>

<!--</section>-->
</body>
</html>
</html>

