<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="member/m_memberController :: header">
    <meta charset="UTF-8">
    <title>: :근로복지공단대구병원: </title>
</head>
<script src="app.js"></script>
<body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<aside class="main-aside_m">
    <form action="searchCarInfo" name="m_button_number_form" onsubmit="return button_number_form_check()" method="POST" style="text-align: center">
        <table class="table-main-Button_m" style="text-align: center; width:100%;">
            <div class="container-button" style="text-align: center">
                <tr width="100%">
                        <input style="height: 80px; background-repeat: no-repeat; box-sizing: border-box; width:100%; font-size: 40px; font-weight: lighter"; type="text" class="show" name="carNumber" value="" placeholder="차 량 번 호">
                </tr>
                <tr width="100%">
                    <td width="33%"><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">7</button></td>
                    <td width="33%"><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">8</button></td>
                    <td width="33%"><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">9</button></td>
                </tr>
                <tr width="100%">
                    <td><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">4</button></td>
                    <td><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">5</button></td>
                    <td><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">6</button></td>
                </tr>
                <tr width="100%">
                    <td><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">1</button></td>
                    <td><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">2</button></td>
                    <td><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">3</button></td>
                </tr>
                <tr width="100%">
                    <td width="33.3%"><button type="button" class="operation" data-Type="operator" style="font-size: xx-large; height: 110px; width: 100%; position: relative; padding: 0;">취소</button></td>
                    <td width="33.3%"><button type="button" class="number" style="font-size: xx-large; height: 110px; width: 100%;">0</button></td>
                    <td width="33.3%"><input class="search_button_m" type="submit" value="검색" style="font-size: xx-large; height: 110px; width: 100%;"></td>
                </tr>
            </div>
        </table>
    </form>
</aside>

<!--검색된 번호 중 하나를 선택하였을 시 나오는 정보-->

<script th:inline="javascript">
    let car_List_None = [[${car_List_None}]];
    if(car_List_None == true){
        alert("차량번호를 확인해주세요.");
    }

    function button_number_form_check(){

        if(m_button_number_form.carNumber.value =='') {
            alert("차량번호를 확인해주세요.");
            return false;
        }else if(m_button_number_form.carNumber.value.length < 4){
            alert("4자리의 차량번호를 입력해주세요.")
            return false;
        }else{
            return true;
        }
    }
    document.addEventListener("DOMContentLoaded", function() {
        init_m();
    });
    let dc_result = [[${dcResult}]];
    if (dc_result == 1) {
        alert("할인등록이 되었습니다.");
    } else if (dc_result == 2) {
        alert("할인등록이 수정되었습니다.")
    } else {

    }
</script>


</body>
</html>
