<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="member/m_memberController :: header">
    <meta charset="UTF-8">
    <title>: :근로복지공단대구병원: </title>
</head>
<script src="app.js"></script>
<body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--글자 폰트 조절하기 -->
<!--<div class="magnifying">-->
<!--    <button class="magnifying_font" onclick="location.href='/searchCarInfo'">처음으로</button>-->
<!--</div>-->
<aside class="main-aside_m">
    <div style="text-align: center">
        <table class="table-main-Button" style="width: 100%">
            <tr th:unless="${car_Img}">
                <th style="height: 300px"><img src="img/no_car.jpg"></th>
            </tr>
            <tr th:if="${car_Img}">
                <th style="height: 300px">[[${car_Img}]]</th>
            </tr>
            <tr th:if="${carBeans}" th:each="car : ${carBeans}">
                <td style="text-align: center; font-size: xx-large; font-weight: bold; background-color: whitesmoke"><a class = "main_car_list" th:href="@{getCarInfo_pic_m(carNumber=${car.VhlNbr}, carNumber2=${carNumber2})}">[[${car.VhlNbr}]]</a></td>
            </tr>
        </table>
        <div th:if="${notice}" style="text-align: center; margin-top: 10%">
            <p class="check_car_p">위에 차량이 맞으시면 확인을 눌러주세요.</p>
            <button class="check_car_button" th:onclick="'location.href = \'' + @{/getCarInfo_m(carNumber=${carNumber})} + '\''">확인</button>
        </div>
    </div>
</aside>
</body>
</html>
