

.body-align-with-table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.admin-register-button{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 3%;
    border-radius: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-bottom: 3px solid darksea;
}
.admin-register-button:hover{
    background-color: wheat;

}
.register-title{
    color: darksea;
    margin-top: 1%;
    text-align: center;
}

.register-table{
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;

    /*display: inline-block;*/
}
.register-table th{
    text-align: left;
    border-radius: 10%;
    background-color: whitesmoke;
    font-weight: lighter;
    margin-right: 3%;
    font-size: large;
    height: 30px;
    width: 80px;
}
.register-table td{

}
.register-td{
    border-radius: 10%;
    font-size: large;
    height: 30px;
    width: 250px;
    text-align: center;
}
register-td_rest {
    border-radius: 10%;
    font-size: large;
    height: 30px;
    width: 450px;
    text-align: center;
}

.register-dc2{
    border-radius: 10%;
    font-size: large;
    height: 30px;
    width: 50px;
    text-align: center;
}
.register-form {
    margin-left: auto;
    margin-right: auto;
}
.register-alert{
    margin-right: auto;
    margin-left: auto;
    font-size: large;
    width: 500px;
    font-style: italic;
    color: red;
}


.register-button {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10%;
    size: 80px;


}
.register-button:hover{
    background-color: darkseagreen;
}
