.reg_title{
    color: #2186c4;
}

.body-align-with-table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid #168;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}
.table th {
    height: 30px;
    color: #168;
    background: #f0f6f9;
    text-align: center;
}
.table td {
    text-align: left;
    height: 40px;
}
.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.table th:first-child, .table td:first-child {
    border-left: 0;
}
.table th:last-child, .table td:last-child {
    border-right: 0;
}
.table tr td:first-child{
    text-align: center;
}
.table caption{caption-side: bottom; display: none;}

.reg_date {
    width: 100px;
}
.reg_input {
    font-size: 20px;
    text-align: center;
    width: 150px;
    heigth: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid whitesmoke;
    text-decoration: none;
}
#reg_submit {
    width: 50px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-bottom: 3px solid whitesmoke;
}


#reg_submit:hover{

    background-color: wheat;
}
.reg_excel_down:hover{

    background-color: wheat;
}

.reg_excel_down {
    width: 50px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-bottom: 3px solid whitesmoke;
}
.reg_print{
    width: 50px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-bottom: 3px solid whitesmoke;
}
.reg_print:hover{
    background-color: wheat;
}
.reg_form_location {
    margin-top: 2%;

}
input[type="button"]{
    border-radius: 10%;
}

input[type="text"]{
    /*font-size: 1.21em;*/
    outline: none;
    /*border-radius: 10%;*/
}
input::placeholder{
}

