

.body-align-with-table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.admin-register-button{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 3%;
    border-radius: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-bottom: 3px solid gray;
}
.admin-register-button:hover{
    background-color: grey;

}
.register-title{
    color: darksea;
    margin-top: 1%;
    text-align: center;
}

.register-table{
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
}
.register-table tr{
    width: 100%;
}
.register-table th{
    text-align: left;
    border-radius: 10%;
    background-color: whitesmoke;
    font-weight: normal;
    /*margin-right: 3%;*/
    font-size: large;
    height: 30px;
    width: 80px;
}
.register-table td{
    /*width:100%*/
}
.register-td{
    /*border-radius: 10%;*/
    font-size: large;
    height: 30px;
    width: 250px;
    text-align: center;
}
register-td_rest {
    border-radius: 10%;
    font-size: large;
    height: 30px;
    width: 450px;
    text-align: center;
}

.register-dc2{
    /*border-radius: 10%;*/
    font-size: large;
    height: 30px;
    width: 50px;
    text-align: center;
}
.register-form {
    margin-left: auto;
    margin-right: auto;
}
.register-alert{
    margin-right: auto;
    margin-left: auto;
    font-size: large;
    width: 500px;
    font-style: italic;
    color: red;
}


.register-button {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10%;
    size: 120px;
    margin: 5%;


}
.register-button:hover{
    background-color: gray;
}

.dc_info_table_m{
    width: 100%;
    text-align: center;
}
.dc_info_table_m th{
    height: 50px;
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
}
.dc_info_table_m td{
    text-align: center;
    padding: 10px 4px;
    height: 70px;
    font-size: 20px;
    background-color: white;
    color: slategrey;
    font-weight: bold;
}



