.main-section {

}
.main-aside{
    display: inline-block;
}

.main_table_with_button{
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    float: left;
}

.table-main-Button{
    width: 240px;
}
.table-main-Button th{
    height: 50px;
    font-size: x-large;
    font-weight: normal;
    background-color: whitesmoke;
}

.table-main-Button td{
    height: 50px;
    width: 50px;
}

.table-main-Button button {
    height:75px;
    width: 75px;
}

.table-main-Button_m button {
    height:35px;
    width: 35px;
    border-radius: 0px;
    /*appearance:none;*/
    -webkit-appearance:none;
    font-size: xx-large;
}
.search_button_m{
    border-radius: 0px;
    /*appearance:none;*/
    -webkit-appearance:none;
}
.search_button{
    height:75px;
    width: 75px ;
}

.show{
    width: 150px;
    heigth: 500px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 3px solid gray ;
    text-decoration: none;
    text-align: center;
}

.reg_input2 {
    width: 150px;
    heigth: 300px;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    text-decoration: none;
    text-align: center;
}

#reg_submit2 {
    width: 80px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10%;
    border-bottom: 3px solid whitesmoke;
}

.main_table_with_button th{
    font-size: 30px;
    font-weight: bold;
    margin-right: 3%;
}

.main_table_with_button_m {
    width: 100%;
}
.main_table_with_button_m tr{
}

.main_table_with_button_m th{
    height: 50px;
    font-size: 1.4em;
    background-color: whitesmoke;
    font-weight: bold;
    /*width: 30%;*/
}

.main_table_with_button_m td {
    height: 50px;
    font-size: 1.4em;
    background-color: whitesmoke;
    font-weight: bold;
    /*width: 100%;*/
    text-align: left;

}



.dc_button{
    border-radius: 0%;
    margin: 0.7%;
    width: 173px;
    height: 65px;
    background-color: whitesmoke;

}
.dc_button2{
    border-radius: 10%;
    margin: 0.7%;
    width: 173px;
    height: 65px;
    background-color: whitesmoke;
}
.register-table td{
    display: inline-block;
    font-size: 50px;
    height: 60px;
}
.register-td2 {
    font-size: 30px;
    width: 550px;
    heigth: 70px;
    margin-bottom: 5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid whitesmoke;
    text-align: center;
}

.register-td2_m{
    font-size: 25px;
    width: 100%;
    /*margin-bottom: 5%;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid whitesmoke;
    text-align: center;
}

.main_car_list {
    text-decoration:none;
    color: black;
}
.main_car_list:hover{
    color: darkseagreen;
}
.main_car_list_입차{
    width: 100px;
    height: 50px;
    margin-left: 27%;
}

.title-container_m{
    /*padding-top: 3px;*/
    /*text-align: center;*/
    /*text-align: justify-all;*/
    justify-content: space-between;
    display: flex;
    /*margin-right: 25%;*/
    /*margin-left: 25%;*/

}
.mode {
    text-align: right;
    margin-right: 3%;
}
.maintitle1{
    /*margin-left: 7%;*/
    font-weight: bold;
    font-size: 1.4em;
    color: antiquewhite;

}
.maintitle1 a:hover {
    color: #2186c4;
    cursor: pointer;
}

.maintitle2{
    margin-left: 7%;
    font-weight: bold;
    font-size: 1.4em;
    color: antiquewhite;
}
.maintitle2 a:hover {
    color: #2186c4;
    cursor: pointer;
}

.maintitle3{
    margin-left: 7%;
    font-weight: bold;
    font-size: 1.4em;
    color: antiquewhite;
}

.maintitle3 a:hover {
    color: #2186c4;
    cursor: pointer;
    text-decoration: none;
}

.title-mark{
    /*justify-content: space-between;*/
    color: #2186c4;
}
.maintitle3 a  {
    text-decoration: none;
}
.maintitle2 a {
    text-decoration: none;
}
.maintitle1 a {
    text-decoration: none;
}

.magnifying {
    text-align: center;
    margin-bottom: 3%;
}

.magnifying_font {
    text-decoration: none;
    font-size: 20px;

}

.magnifying_button {

}

.table-main-Button_m_test button{
    width: 100%;
    height: 110px;


}
.table-main-Button_m_test td {
    width: 33.3%;
}

.dc_form_m{
    width: 100%;
}

.dc_form_m tr {
    width: 100%;
}

.dc_form_m td{
    height: 75px;
    width: 50%;
}

.dc_form_m input {
    width: 100%;
}

