* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a 링크 태그 스타일 초기화 */
a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.login {
  align-content: center;
}
.login-container{
  align-content: center;
  align-items: center;
  alignment: center;
}
.main {
  height: 560px; /* 화면 이미지 고정 */
  background-image: url("/img/login.png");
  background-size: cover;
  background-position: center 10%; /* 이미지 위치를 살짝 위로 올리기 위한 position 설정 */
  background-repeat: no-repeat;
  z-index: 100;
}

/* 배경 이미지에 색상을 어둡게 하기 위해, 어두운 색상으로 이미지 상위에 투명도를 주어 덮어씌움 */
.main-container {
  width: 100%;
  height: 100%;
  /*background-color: rgb(47, 48, 89);*/
  opacity: 0.8;
  z-index: 2;
  margin-top: 60px; /* position 이 fixed 일 경우, 문서 흐름에서 빠지므로, 이 부분은 margin 으로 적용 */
}



.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}

.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}
@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  /*border: 1px solid #2186c4;*/
  border-radius: 1em;
}
div + div {
  margin-top:1em;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
  font: 1em Sans-serif;
}
.login-check{
  color: red;
  font-style: italic;
  margin-right: auto;
  margin-left: auto;
}
input {
  /*font: 1em sans-serif;*/
  /*border: 1px solid darkseagreen;*/
  /*border-radius: .5em;*/
}
input:focus{
  /*border-color: #2186c4;*/
}

.button {
  padding-left: 135px;
}
button {
  margin-left: .5em;
}

input[type="text"]{
  outline: none;
}

input[type="password"]{
  outline: none;
}

.register-table {
  width: 100%;

}
.register-table_m tr{
  width: 100%;
  height: 50px;
}
.register-table_m input{
  font-size: 1em;
  height: 40px;
  border-radius: 10%;
}

.register-table_m th {
  height: 30px;
  font-size: 1em;
  width: 40%;
  /*background-color: whitesmoke;*/
}
.register-table_m td {
  height: 30px;
  font-size: 1em;
  width: 100%;
  /*background-color: whitesmoke;*/
  text-align: center;
}

.register-button_m{
  background-color: white;
  border-radius: 10%;
  font-size: 1.5em;
}
