


.inner {
    width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
    height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
    margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
    background-color: wheat;
}

header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
    background-image: url("/img/admin_top.png");
    width: 220px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.5%;

}


.head-container .head-brand a:hover {
    color: #2186c4;
    cursor: pointer;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
    font-weight: bold;
    font-size: 1.2em;
    color: antiquewhite;
    margin-right: 1.8%;
}

.head-container .head-blog a:hover {
    color: #2186c4;
    cursor: pointer;
}
.head-blog a {
    text-decoration: none;
}
@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 100%;
    }
}

section {
    width: 100%;
    background-color: #fff;
    /*position: relative;*/
}

section {
    padding-top: 70px;
}
.title-container{
    /*text-align: center;*/
    /*text-align: justify-all;*/
    /*justify-content: space-between;*/
    /*display: flex;*/
    /*margin-right: 25%;*/
    /*margin-left: 25%;*/
}

.maintitle1{
    /*margin-left: 7%;*/
    font-weight: bold;
    font-size: 1.4em;
    color: antiquewhite;

}
.maintitle1 a:hover {
    color: #2186c4;
    cursor: pointer;
}

.maintitle2{
    /*margin-left: 7%;*/
    font-weight: bold;
    font-size: 1.4em;
    color: antiquewhite;
}
.maintitle2 a:hover {
    color: #2186c4;
    cursor: pointer;
}

.maintitle3{
    /*margin-left: 7%;*/
    font-weight: bold;
    font-size: 1.4em;
    color: antiquewhite;
}

.maintitle3 a:hover {
    color: #2186c4;
    cursor: pointer;
    text-decoration: none;
}

.title-mark{
    /*justify-content: space-between;*/
    color: #2186c4;
}
.maintitle3 a  {
    text-decoration: none;
}
.maintitle2 a {
    text-decoration: none;
}
.maintitle1 a {
    text-decoration: none;
}

