<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="adminController :: header">
    <meta charset="UTF-8">
</head>
<body>
<h1>admin Managing</h1>

<table border="1">
    <tr>

        <td>번호</td>
        <td>그룹명</td>
        <td>할인처</td>
        <td>담당자</td>
        <td>연락처</td>
        <td>할인1</td>
        <td>할인2</td>
        <td>할인3</td>
        <td>할인4</td>
        <td>할인5</td>
        <td>할인6</td>
        <td>비고</td>
        <td>사용</td>
    </tr>
    <tr th:each="admin:${adminList}">
        <td><input th:value="번호" style="width:30px"></td>
        <td><input th:value="${admin.getGrpName()}" style="width:50px"></td>
        <td><input th:value="${admin.getClName()}" style="width:60px"></td>
        <td><input th:value="${admin.getClUser()}" style="width:100px"></td>
        <td><input th:value="${admin.getClTel()}" style="width:90px"></td>
        <td><input th:value="${admin.getClDCName1()}+'('+${admin.getClDCTime1()}+'분/'+ ${admin.getClDCRate1()} + '%)'" style="width:150px"></td>
        <td><input th:value="${admin.getClDCName2()}+'('+${admin.getClDCTime2()}+'분/'+ ${admin.getClDCRate2()} + '%)'" style="width:150px"></td>
        <td><input th:value="${admin.getClDCName3()}+'('+${admin.getClDCTime3()}+'분/'+ ${admin.getClDCRate3()} + '%)'" style="width:150px"></td>
        <td><input th:value="${admin.getClDCName4()}+'('+${admin.getClDCTime4()}+'분/'+ ${admin.getClDCRate4()} + '%)'" style="width:150px"></td>
        <td><input th:value="${admin.getClDCName5()}+'('+${admin.getClDCTime5()}+'분/'+ ${admin.getClDCRate5()} + '%)'" style="width:30px"></td>
        <td><input th:value="${admin.getClDCName6()}+'('+${admin.getClDCTime6()}+'분/'+ ${admin.getClDCRate6()} + '%)'" style="width:30px"></td>
        <td><input th:value="${admin.getClMemo()}" style="width:30px"></td>
        <td><input th:value="${admin.getClDCUse()}" style="width:30px"></td>
    </tr>
</table>


<a href = "adminRegister">등록하기</a>

</body>
</html>